{% if page.gallery %}

{% for image in page.images %}

{% if image.data %}
 {% assign lbdata = image.data %}
{% else %}
 {% assign lbdata = "group" %}
{% endif %}

{% if image.text %}
 {% capture imgtext %} - {{ image.text }}{% endcapture %}
{% else %}
 {% assign imgtext = "" %}
{% endif %}



<a href="{{ site.url }}/assets/gallery/{{ page.gallery }}/{{ image.src }}"
 data-lightbox="{{ lbdata }}"
 data-title="{{ image.title }} {{ imgtext }}"><img
  src="{{ site.url }}/assets/gallery/{{ page.gallery }}/{{ image.src }}" alt="{{ image.title }}"/></a>

<p><strong>#{{forloop.index}}:
  {% if image.link %}
   <a href="{{ image.link }}">{{ image.title }}</a>
  {% else %}
   {{ image.title }}
  {% endif %}
</strong> {{ imgtext }}</p>

<hr>



{% endfor %}
{% endif %}